
.carousel-container {
width: 500px;
height: 400px;
position: static;
margin: 0 auto;

}
nav {
                background-color: #426255;
                display: flex;
                
                padding: 20px;
                border-radius: 100px;
            }
nav ul {
                display: flex;
                list-style: none;
                align-items: center;
                margin: 0;
                padding: 0;
                
            }
            nav li {
                margin-left: 20px;
                
            }
            nav a {
                color: #fff;
                text-decoration: none;
            }
            nav a:hover {
                color: #ccc;
            }
            


            header {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            
            .search-bar-container {
              width: 100%;
              margin-top: 30px;
              align-items: center;
            }
            
            .search-form {
              display: flex;
              justify-content: center;
            }
            
            .search-form input[type="text"] {
              width: 100%;
              padding: 10px;
              font-size: 1.2rem;
              border-radius: 30px 0 0 30px;
              outline: none;
            }
            
            .search-form button {
              padding: 10px 20px;
              font-size: 1.2rem;
              background-color: #007bff;
              color: #fff;
              border-radius: 0 30px 30px 0;
              border: none;
              outline: none;
              cursor: pointer;
            }
            
            .search-form button:hover {
              background-color: #0069d9;
            }          

            label.logo{
              color: white;
              font-size: 30px;
              line-height: 10px;
              padding: 10px;
              font-weight: bold;
              text-align: left;
              }
.slider-frame{
  overflow: hidden;
  height: 800px;
  width: 1000px;
  margin-left: 280px;
  margin-top: 20px;
}

@-webkit-keyframes slide_animation{
  0% {left: 0px;}
  10% {left: 0px;}
  20% {left: 1200px;}
  30% {left: 1400px;}
  40% {left: 2800px;}
  50% {left: 2800px;}
  60% {left: 1400px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left: 0px;}
}

.slide-images{
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;

}

.img-container{
  height: 800px;
  width: 1000px;
  position: relative;
  float: left;
}

.site-footer
{
  background-color:#426255;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}